/* stylelint-disable indentation */
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

header h1 {
    margin-left: 10px;
}

.theme-mode {
    display: flex;
    column-gap: 5px;
    margin-right: 10px;
}

.search-section {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.search-bar {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 10px;
}

input[type="search"] {
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

button[type="submit"]:hover {
    opacity: 1;
}

.countries-wrapper {
    padding: 7%;
}

.countries-section {
    display: grid;
    row-gap: 50px;
    column-gap: 80px;
    grid-template-columns:
    repeat(
        auto-fill,
        minmax(200px, 1fr)
        );
        width: 100%;
        margin-top: 15px;
     justify-items: center;
}

.country {
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    cursor: pointer;
}

.country-image {
    max-height: 40%;
    min-height: 40%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.country-info {
    margin-left: 10%;
}
