/* stylelint-disable indentation */
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

header h1 {
    margin-left: 20px;
}

.theme-mode {
    display: flex;
    column-gap: 5px;
    margin-right: 20px;
    align-items: center;
    cursor: pointer;
}

.search-section {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    margin-top: 3%;
    margin-bottom: 5px;
}

.search-bar {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 8px;
    height: 50px;
    width: 350px;
    display: flex;
    align-items: center;
}

input[type="search"] {
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    width: 100%;
    border: 1px solid transparent;
}

.select-filter {
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    border-radius: 8px;
    width: 150px;
    padding: 10px;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

button[type="submit"]:hover {
    opacity: 1;
}

.countries-wrapper {
    padding: 7%;
}

.countries-section {
    display: grid;
    row-gap: 50px;
    column-gap: 80px;
    grid-template-columns:
    repeat(
        auto-fill,
        minmax(200px, 1fr)
        );
        width: 100%;
        margin-top: 15px;
     justify-items: center;
}

.country {
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    cursor: pointer;
}

.country-image {
    max-height: 40%;
    min-height: 40%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.country-info {
    margin-left: 20px;
}

.country-details-image {
    min-width: 30%;
    max-width: 40%;
    min-height: 200px;
    max-height: 300px;
}

.details-main {
    margin-top: 10%;
    display: flex;
        justify-content: space-around;
}

.details-main p {
    white-space: nowrap;
}

.country-info-wrapper {
    display: flex;
    column-gap: 20%;
}

.borders {
    display: flex;
    column-gap: 10px;
    justify-content: end;
}

.border-country {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    padding: 2px 5px;
}

.domain {
    align-self: center;
    margin-bottom: 10px;
}

.dark {
    background-color: hsl(207, 26%, 17%);
    animation: darkmode;
    animation-duration: 2s;
}

.white {
    background-color: white;
    animation: whitemode;
    animation-duration: 2s;
}

.dark p,
 .dark span, 
 .dark h1, 
 .dark h2 {
    color: hsl(0, 0%, 100%);
}

.dark .search-bar {
    background-color: white;
}

@media only screen and (max-width: 350px) {
    .country-details-image {
        min-width: 80%;
    }
    .details-main {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .country-wrapper {
        flex-direction: column;
        display: flex;
    }
    .country-info-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .domain {
        align-self: flex-start;
        margin-left: 18px;
    }

    .search-section {
        flex-direction: column;
        row-gap: 10px;
        margin-left: 20%;
    }

    .search-bar {
        width: 80%;
    }
}